<section>
    <h2>Signup form</h2>
    <form novalidate [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <fieldset formGroupName="name">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" [formControl]="firstName" placeholder="Introduce tu nombre">

                <span class="error" *ngIf="firstName.touched && !firstName.valid">Valor no valido</span>

                <pre>value: {{firstName.value}}</pre>
                <pre>valid: {{firstName.valid}}</pre>
                <pre>touched: {{firstName.touched}}</pre>
                <pre>pristine: {{firstName.pristine}}</pre>

            </div>

            <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" formControlName="lastName">
            </div>
        </fieldset>
        <pre>{{myForm.controls['name'].value | json}}</pre>

        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email">
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password">
        </div>

        <div class="form-group">
            <label>Language</label>
            <select class="form-control" formControlName="language">
                <option value="" disabled selected>Please select a language</option>
                <option value="es">es</option>
                <option value="en">en</option>
            </select>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Submit</button>
        </div>

    </form>

    <pre>{{myForm.value | json}}</pre>
    <pre>valid:{{myForm.valid}}</pre>
    <pre>touched:{{myForm.touched}}</pre>

</section>

<hr>

<section>
    <h2>Signup form 2</h2>
    <form #f="ngForm" (ngSubmit)="onSubmitTemplate()">
        <div class="form-group">
            <input class="form-control" name="name" required placeholder="name" [(ngModel)]="model.name">
        </div>
        <div class="form-group">
            <input class="form-control" name="surname" required placeholder="surname" [(ngModel)]="model.surname">
        </div>
        <div class="form-group">
            <input class="form-control" name="email" required appEmailvalidator placeholder="email" [(ngModel)]="model.email">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" required placeholder="password" minlength="8" [(ngModel)]="model.password">
        </div>
        <div class="form-group">
            <input class="form-control" name="language" required minlength="2" placeholder="language" [(ngModel)]="model.language">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
        </div>

    </form>

    <pre>model: {{model | json}}</pre>
    <pre>f.value: {{f.value | json}}</pre>
    <pre>f.valid: {{f.valid}}</pre>

</section>

<hr>

<section>
    <input type="search" class="form-control" placeholder="Please enter search term" [formControl]="searchField">
    <hr />
    <ul>
        <li *ngFor="let search of searches">{{ search }}</li>
    </ul>
</section>