<h2>Proyectos</h2>
<div>
    <input class="form-control" type="text" [(ngModel)]="texto_filtro" *appDelay="3" />
</div>

<article *ngIf="loading || apiError">
    <div class="spinner-border" role="status" *ngIf="loading && !apiError">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="alert alert-dark" role="alert" *ngIf="apiError">
        Ooops...there was a problem :-/
        <br>
        Please try again later.
    </div>
</article>

<br>
<div>
    <a [routerLink]="['new']" routerLinkActive="router-link-active"><i class="bi bi-calendar2-plus"></i></a>
</div>
<br>
<ul>
    <li *ngFor="let aP of proyectos | filterElements:'name':texto_filtro" class="card">
        <div class="card-body">
            <span>{{aP.pid}}</span>
            <h5 class="card-title">{{aP.name}}</h5>
            <span>{{aP.date}}</span>
            <span>
                <app-rate [rate]="aP.rating" (start_clicked)="updateRating($event,aP.pid)"></app-rate>
            </span>
            <span>{{project_tasks[aP.pid]||0}} tasks</span>
            <br>
            <span><a [routerLink]="['/projects',aP.pid]" class="card-link"><i class="bi bi-eye"></i></a></span>
        </div>
    </li>
</ul>