<section>
    <h2>New Task</h2>
    <form>
        <div class="form-group">
            <label>Description</label>
            <input type="text" min="3" max="20" name="description" class="form-control" required>
        </div>

        <div class="form-group">
            <label>Time</label>
            <input type="number" name="time" min="1" class="form-control" required>
        </div>

        <div class="form-group">
            <label>Project</label>
            <input type="number" name="project" min="1" class="form-control" required>
        </div>

        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</section>