<div class="stars">
    <div>
        <span [class]="rating()>=1?'fill':''" (click)="starClick(1)"><i class="bi bi-star"></i></span>
        <span [class]="rating()>=2?'fill':''" (click)="starClick(2)"><i class="bi bi-star"></i></span>
        <span [class]="rating()>=3?'fill':''" (click)="starClick(3)"><i class="bi bi-star"></i></span>
        <span [class]="rating()>=4?'fill':''" (click)="starClick(4)"><i class="bi bi-star"></i></span>
        <span [class]="rating()>=5?'fill':''" (click)="starClick(5)"><i class="bi bi-star"></i></span>
    </div>    
</div>