<div class="hello">
    <p *ngIf="texto">{{texto }}</p>

    <p>{{objeto | json}}</p>

    <ul *ngIf="mostrar">
        <li>{{objeto.id}}</li>
        <li>{{objeto.nombre}}</li>
    </ul>

    <hr>

    <div highlight color="yellow" [user]="usuarios[0]">
        XXXX
    </div>
    <hr>

    <h2>usuarios</h2>

    <button (click)="mostrarLista()" *replicate="4">{{texto_boton}}</button>

    <ul [class]="usuario_class" *ngIf="mostrar_lista">
        <li *ngFor="let user of usuarios ">
            <div>{{user.id}}</div>
            <div>{{user.nombre | uppercase}}</div>
            <div>
                <app-rate [rate]="user.rating" (start_clicked)="updateRating($event,user.id)"></app-rate>
            </div>
        </li>
    </ul>


    <div>
    </div>

    <pre>{{usuarios | json}}</pre>

    <input type="text" [(ngModel)]="elInput" />
    <p>{{elInput}}</p>

</div>