<div class="hello">
    <p *ngIf="texto">{{texto}}</p>

    <p>{{objeto | json}}</p>

    <ul *ngIf="mostrar">
        <li>{{objeto.id}}</li>
        <li>{{objeto.nombre}}</li>
    </ul>

    <h2>usuarios</h2>

    <button (click)="mostrarLista()" >{{texto_boton}}</button>

    <ul [class]="usuario_class" *ngIf="mostrar_lista">
        <li *ngFor="let user of usuarios">
            <div>{{user.id}}</div>
            <div>{{user.nombre}}</div>
        </li>
    </ul>

    <input type="text" [(ngModel)]="elInput" />
    <p>{{elInput}}</p>

</div>