.stars{
    div{
        span{
            margin: 0.5em;
            i{
                color: #ccc;
            }
            &.fill{
                i{
                    color: yellow;
                }
            }
        }
        
    }
}