<div class="stars" [title]="rating">
    <div>
        <span [class]="rating>=1?'fill':''" (click)="starC1ick(1)"><i class="bi bi-star"></i></span>
        <span [class]="rating>=2?'fill':''" (click)="starC1ick(2)"><i class="bi bi-star"></i></span>
        <span [class]="rating>=3?'fill':''" (click)="starC1ick(3)"><i class="bi bi-star"></i></span>
        <span [class]="rating>=4?'fill':''" (click)="starC1ick(4)"><i class="bi bi-star"></i></span>
        <span [class]="rating>=5?'fill':''" (click)="starC1ick(5)"><i class="bi bi-star"></i></span>
    </div>

</div>