<section>
    @if(show()){
    <article *ngIf="show()">
        <div>id: {{unProducto.id}}</div>
        <div>name: {{unProducto.name | uppercase}}</div>
        <div>image: <img src="./assets/imgs/{{unProducto.image}}" alt="" /></div>
        <div>image: <img [src]="genImgUrl()" alt="" /></div>
    </article>
    }

    

    <div><button (click)="show.set(!show())">Mostar</button></div>

    <div><input highlight [ngModel]="texto()" (ngModelChange)="texto.set($event)" /></div>
    <pre>{{texto()}}</pre>
</section>

<section>
    <pre>counter: {{counter()}}</pre>
    <button (click)="addOne()">+</button>
    <pre>counter: {{doubleCounter()}}</pre>
</section>

<hr>

<h2 *replicate="2">Lista de productos</h2>
<section >
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>imagen</th>
                <th>valoración</th>
            </tr>
        </thead>
        <tbody>
            @for(prod of productService.productList()|filterProducts:texto();track prod.id){
            <tr>
                <td>{{prod.id}}</td>
                <td highlight="red">
                    {{prod.name}}
                </td>
                <td><img src="./assets/imgs/{{prod.image}}" alt="" /></td>
                <td><app-rate [rating]="prod.stars?prod.stars:0"
                        (starClicked)="updateStars($event, prod.id)"></app-rate></td>
            </tr>
            }
        </tbody>
    </table>
    <div>Total de precios:{{totalStarts()}}</div>
</section>