<section>
    <h2>Tasks</h2>
    <br>
    <input class="form-control" [(ngModel)]="filter_text" placeholder="Text to filter tasks">
    <hr>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>tid</th>
                <th>description</th>
                <th>time</th>
                <th>project</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for(aTask of getFilteredTasks(); track aTask.id){
            <tr>
                <td>{{aTask.id}}</td>
                <td>{{aTask.description}}</td>
                <td>{{aTask.time}}</td>
                <td>{{aTask.project}}</td>
                <td>
                    <button (click)="deleteTask(aTask.id)">delete</button>
                </td>
            </tr>}@empty{
            <tr>
                <td>No tasks...</td>
            </tr>
            }

        </tbody>
    </table>
</section>