<h1>Tareas</h1>
<div>
    <input class="form-control" type="text" [(ngModel)]="texto_filtro" />
</div>
<table class="tareas table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Time</th>
            <th>Project</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let aT of filtraT(texto_filtro)"> -->
        <tr *ngFor="let aT of tareas | filterElements:'description':texto_filtro">
            <td>{{aT.tid}}</td>
            <td>{{aT.description}}</td>
            <td>{{aT.time}}</td>
            <td>{{aT.project}}</td>
            <!-- <td><button (click)="borrarT(aT.tid)">Borrar</button></td> -->
            <td>
                <app-delete [tid]="aT.tid" (delete_clicked)="borrarT($event)"></app-delete>
            </td>
            <td>
                <a [routerLink]="['/tasks/',aT.tid]" routerLinkActive="router-link-active"><i class="bi bi-eye"></i></a>
            </td>
            <td>
                <preview-task [tarea]="aT"></preview-task>
            </td>
        </tr>
    </tbody>
</table>