<section class="products">
    <h2>{{title}}</h2>
    <div *ngIf="show_message">{{message}}</div>

    <input [(ngModel)]="filter_text" type="text">
    <pre>{{filter_text}}</pre>

    <br />

    <button (click)="showHide()">{{show_text}}</button>
    <button (click)="showHide()">{{show_list?'hide':'show'}}</button>

    <ul *ngIf="show_list" class="list-group">
        <li *ngFor="let a_product of products | filterProducts:filter_text" class="list-group-item">
            <div>{{a_product?.name | uppercase}}</div>
            <div>{{a_product?.code | lowercase}}</div>
            <div>
                <img [src]="'./assets/imgs/'+a_product?.image" alt="" [style.maxWidth.px]="img_width"
                    [style.maxHeight.px]="img_height" />
            </div>
            <div>{{a_product?.date | date: 'full'}}</div>
            <div>{{a_product?.price | currency:'EUR':true:'1.2-2'}}</div>
            <div>{{a_product.stars}}
                <rate-component [rating]="a_product.stars"
                (star_clicked)="updateStars($event,a_product.code)">
                </rate-component>
            </div>
        </li>
    </ul>




</section>