<section class="hola container">
  <h1>Hola mundo!!</h1>
  <header>
    <nav class="nav nav-pills nav-justified">
        <a class="flex-sm-fill text-sm-center nav-link active" [routerLink]="['hello']">Hello</a>
        <a class="flex-sm-fill text-sm-center nav-link " [routerLink]="['hello2']">Hello2</a>
        <a class="flex-sm-fill text-sm-center nav-link " [routerLink]="['products']">Productos</a>
    </nav>
  </header>

  <!-- <hello></hello> -->
  <router-outlet></router-outlet>

</section>