<section>
	<h2>Tasks</h2>
	<br>
    <input class="form-control" [(ngModel)]="filter_text" placeholder="text to filter tasks">
	<hr>
	<table class="table table-striped">
		<thead class="table-dark">
			<tr>
				<th>tid</th>
				<th>description</th>
				<th>time</th>
				<th>project</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let aTask of tasks | filterElements:'description':filter_text">
				<td>{{aTask.id}}</td>
				<td>
					<div *ngIf="!show_desc_form[aTask.id]" (click)="showDescForm(aTask.id)">
						{{aTask.description}}
					</div>
					<name-editor *ngIf="show_desc_form[aTask.id]" [description]="aTask.description"
						(save_clicked)="saveName($event,aTask.id)">
					</name-editor>
				</td>
				<td>{{aTask.time}}</td>
				<td>{{aTask.project}}</td>
				<td>
					<app-delete [tid]="aTask.id" (delete_clicked)="deleteTask($event)"></app-delete>
				</td>
				<td><a [routerLink]="['/tasks/',aTask.id]" routerLinkActive="router-link-active" ><i class="bi bi-eye"></i></a></td>
				<td>
					<preview-task [tarea]="aTask"></preview-task>
				</td>
			</tr>
		</tbody>
	</table>
</section>