<div class="buttons-container">
    <button class="btn btn-primary" (click)="showDynamicComponent()">
        Show component
    </button>
    <button class="btn btn-primary" (click)="showFlexDynamicComponent('DynamicComponent')">
        Show component flex
    </button>
    <button class="btn btn-danger" (click)="removeDynamicComponent()">
        Remove component
    </button>
</div>

<hr>

<custom-card>
    This is the projected content
    <h3 ngProjectAs="card-title">My Title</h3>
    <div ngProjectAs="card-body">My Body</div>
</custom-card>

<hr>
<h3>Here will appear the dynamic component:</h3>
<ng-template #dynamic></ng-template>
