<section>
    <h2>Signup form</h2>
    <form novalidate [formGroup]="myform" (ngSubmit)="onSubmit()">
        <fieldset formGroupName="name">
            <div class="form-group">
                <label>Name</label>
                <input formControlName="firstName" type="text" class="form-control" required>
            </div>

            <div class="form-group">
                <label>Last Name</label>
                <input formControlName="lastName" type="text" class="form-control" required>
            </div>
        </fieldset>
        <pre>{{myform.controls['name'].value|json}}</pre>
        <pre>{{myform.controls['name'].valid}}</pre>


        <div class="form-group">
            <label>Email</label>
            <input formControlName="email" type="email" class="form-control" required required>
            <div class="form-control-feedback" *ngIf="email.invalid && email.dirty">
                Invalid email
            </div>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input formControlName="password" type="password" class="form-control" required>
        </div>

        <div class="form-group">
            <label>Language</label>
            <select class="form-control" formControlName="language">
                <option value="" disabled selected>Please select a language</option>
                <option value="es">es</option>
                <option value="en">en</option>
            </select>
        </div>
        <pre>{{myform.get('language')?.value}}</pre>
        <pre>{{myform.get('language')?.valid}}</pre>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!myform.valid">Submit</button>
        </div>
        <pre>{{myform.value|json}}</pre>
        <pre>{{myform.valid}}</pre>

    </form>
</section>

<hr />

<section>
    <h2>Signup form 2</h2>
    <form #f="ngForm" (ngSubmit)="onSubmitTemplate()">
        <div class="form-group">
            <input class="form-control" [(ngModel)]="model.name" name="name" required placeholder="name">
            <pre>Valid? {{f.form.get('name')?.valid}}</pre>
        </div>
        <div class="form-group">
            <input class="form-control" [(ngModel)]="model.surname" name="surname" required placeholder="surname">
            <pre>Valid? {{f.form.get('surname')?.valid}}</pre>
        </div>
        <div class="form-group">
            <input class="form-control" [(ngModel)]="model.email" name="email" required appEmailvalidator
                placeholder="email" #email="ngModel" [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched),
                'is-valid': email.valid && (email.dirty || email.touched)
            }">
            <pre>Valid? {{f.form.get('email')?.valid}}</pre>
            <pre>Dirty? {{f.form.get('email')?.dirty}}</pre>
            <pre>Touched? {{f.form.get('email')?.touched}}</pre>
        </div>
        <div class="form-group">
            <input class="form-control" [(ngModel)]="model.password" name="password" required placeholder="password"
                minlength="8">
            <pre>Valid? {{f.form.get('password')?.valid}}</pre>
        </div>
        <div class="form-group">
            <input class="form-control" [(ngModel)]="model.language" name="language" required minlength="2"
                placeholder="language">
            <pre>Valid? {{f.form.get('language')?.valid}}</pre>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
        </div>

    </form>
    <hr>
    <pre>{{model | json}}</pre>
    <hr>
    <pre>{{f.value | json}}</pre>
    <pre>{{f.valid}}</pre>

</section>

<hr />

<section>
    <input type="search" class="form-control" placeholder="Please enter search term" [formControl]="searchField">
    <hr />
    <ul>
        <li *ngFor="let search of searches">{{ search }}</li>
    </ul>
</section>